<div class="palm-page-header multi-line">
    <div class="palm-page-header-wrapper">
        <div class="title left">Simple Horizontal Scroller Test</div>
            <div class="subtitle">
                a simple hard coded horizontal scroller
            </div>
        </div>
    </div>
</div>

<div x-mojo-element="Scroller" id="scrollerId">
    <div class="scrollerContainer">
        <div class="scrollerItem" id="scrollerItem:1">first</div>
        <div class="scrollerItem" id="scrollerItem:2">second</div>
        <div class="scrollerItem" id="scrollerItem:3">third</div>
    </div>
</div>